@{
    ViewBag.Title = "Contact Us";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<section class="contact">
    <header>
        <h3>Phone</h3>
    </header>
    <p>
        <span class="label">Main:</span>
        <span>+233233600033</span>
    </p>
    <p>
        <span class="label">After Hours:</span>
        <span>+233245368661</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span class="label">Support:</span>
        <span><a href="mailto:Support@payhubghana.com">Support@payhubghana.com</a></span>
    </p>
    <p>
        <span class="label">Marketing:</span>
        <span><a href="mailto:Marketing@payhubghana.com">Marketing@payhubghana.com</a></span>
    </p>
    <p>
        <span class="label">General:</span>
        <span><a href="mailto:info@payhubghana.com">info@payhubghana.com</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Address</h3>
    </header>
    <p>
        PayHub University College<br />
        P. O. Box 1835,<br />
        Teshie-Nungua,<br />
        Accra, Ghana.
    </p>
</section>