@{
    ViewBag.Title = "PayHub University College";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
                
            </hgroup>
            <h2>@ViewBag.Message</h2>
        </div>
    </section>
}
<h3>Announcements:</h3>
<ol class="round">
    <li class="one">
        <h5>Educational and Sensitization Seminar - Centre For European Studies</h5>
            The Centre for European Studies, PayHub University College, 
            in collaboration with the EU Delegation in Ghana is organizing an Educational and Sensitization Seminar for Students
             who want to undertake internships and further education (with full scholarship) in Europe. 
            <br />
            The schedule is as follows:
            <br />
            Date: Friday, 11th November, 2016   <br />
            Venue: College Auditorium    <br />
            Time: 8am-9.30am    <br />
            Speakers will include:  <br />
            <ul>
                <li>Ambassador William Hanna, Head of the European Union Delegation</li>
                <li>Filippo Bocchini of the Erasmus+ Internships for Study in Europe</li>
                <li>Professor Ransford Gyampo, Director, Centre for European Studies</li>
            </ul>
            All Faculty and Students, particularly those in Levels 300 and 400 in the College of Humanities are cordially invited.
            <br />
            Professor Ransford Gyampo
            <br />
            (Director, Centre for European Studies)
        <br />
        <a href="http://ug.edu.gh/announcements/educational-and-sensitization-seminar-centre-european-studies">Click For More Information</a>
    </li>

    <li class="two">
        <h5>PhD Programme In Development Economics</h5>
        The PayHub University College is offering a PhD programme in Development Economics
         in collaboration with the World Institute for Development Economics Research of the United Nations University (UNU-WIDER). 
        Upon graduation, students are awarded a doctoral degree by the PayHub University College. 
        The programme invites applications from qualified persons for a 4-Year Full-time PhD Programme in Development Economics beginning January 2017.
        <br />
        <a href="http://ug.edu.gh/announcements/phd-programme-development-economics">Learn more…</a>       
    </li>

    <li class="three">
        <h5>Official Handing Over Ceremony of Decommissioned Aircraft to the School of Engineering Sciences</h5>
        As part of its mandate to develop and establish a department of Aeronautic and Space Technology, 
        the School of Engineering Sciences has taken delivery of a decommissioned aircraft. 
        The aircraft which is a gift from the Ghana Air Force has been successfully assembled at the School’s premises in preparation for a proposed programme. 
        <br />
        The Vice-Chancellor will officially receive the aircraft from the Air Force on behalf of the University at a brief ceremony <br />
        <a href="http://ug.edu.gh/events/official-handing-over-ceremony-decommissioned-aircraft-school-engineering-sciences">Learn more…</a>
    </li>
</ol>